<%- include("partials/header"); -%>

<h1 class="text-center">Full Post</h1>
  <h1 class="text-center post-heading"><%=post.title%></h1>
  <p class="text-center" style="white-space: pre-line"><%= post.content %></p>
<!-- <p class="text-center"><%= post.content %></p> -->

<%- include("partials/footer"); -%>
